
<%= form_for @workout do |f| %>
<%= render 'shared/form_errors', target: @workout %>

  <div class="field">
    <%= f.label :workout, "Workout Name" %><br>
    <%= f.text_field :workout %>
  </div><br>
  <div class="field">
    <%= f.label :length, "How long was the workout?" %><br>
    <%= f.text_field :length %>
  </div><br>
  <div class="field">
    <%= f.label :rating %><br>
    <%= f.text_field :rating %>
  </div><br>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.text_field :date %>
  </div><br>
    <%= f.submit %>
  </div>
<% end %>